.alert{
    display: flex;
    justify-content: space-around;
}

.alertBox{
    position: fixed;
    top: 40%;
    border: 1px solid grey;
    border-radius: 10px;
    height: 100px;
    width: 220px;
    background-color: #ffffff;
    z-index: 500;
    font-size: 16px;
    box-shadow: 3px 3px 1px;
    z-index: 2000;
}

.alertButton{
    text-decoration: underline;
    font-size: 14px;
    color: blue;
    cursor: pointer;
}