@font-face{
  font-family: Sunflower-Bold;
  src: url('../../assets/fonts/Sunflower-Bold.ttf')
}

@font-face{
  font-family: Sunflower-Light;
  src: url('../../assets/fonts/Sunflower-Light.ttf')
}

@font-face{
  font-family: Sunflower-Medium;
  src: url('../../assets/fonts/Sunflower-Medium.ttf')
}